.footer {
    background-color: #03001C;
    color: white;
    margin-top: auto;
}

.footer-socials {
    gap: 0.7rem;
}

.footer-social-icon {
    color: white;
    gap: 1rem;

    &:hover {
        color: white;
    }
}