.home-title {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: start;
}

.profile-picture{
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 20%;
}