.home-title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: start;
}

.profile-picture{
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 20%;
}



.social-icon {
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;

    &:hover {
        color: #2448e3;
    }

    border-radius: 50%;
}


// ABOUT SECTION
.home-about-container {
    background-color: #4900977c;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .section-heading {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .section-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0;
  }
  
  .section-text strong {
    color: #0077cc;
  }
  
